*{font-family: 'Open Sans', sans-serif;
    
    }

body{color:midnightblue;
    background-color: whitesmoke;
    background-image: linear-gradient(to right bottom, #f5f5f5, #f1f7fc, #e6fbfd);      
          
}

header{margin-top: 5px;
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: nowrap;}

header a:hover{text-decoration: none;}

/*PRIMER NIVEL NAV*/

nav{justify-content: center;}
nav a:hover{background:#D2D5DB;}

.navbar-light .nav-item .nav-link{color:midnightblue}

    

         

/*SEGUNDO NIVEL NAV*/

nav ul ul{position: absolute;
    display: none;
    padding: 5px;}
   

nav ul ul li{display:block;}
nav li li:hover {background: white}
          
         
nav ul li:hover ul{display: block;}




/*SECCIONES INDEX*/

article{width: 50%;
        color: white;}
.ultimas{margin: 10px;}

aside{width: 50%;
    color: whitesmoke;}
aside li{list-style: none;}

footer a:hover{background: #D2D5DB;
                text-decoration: none;
                color: midnightblue;}

.displayIndex{display: flex;
          flex-direction:row;    
          flex-wrap: wrap;
          width: 100%;
          margin-top: 20px;
          }
.lineatres{height: 5vh;
            background-color: orange;
            width: 1px;
            border-left: 6px solid orange;
            top: 0%;
            display: inline-block;
            margin: 10px;}
.lineacuatro{height: 1vh;
            background-color: orange;
            width: 1px;
            border-left: 6px solid orange;
            top: 0%;
            display: inline-block;
            margin: 10px;}
.nopuntos{list-style-type: none;}

h4{text-align: center;}
        
            


footer{text-align:center; 
        width: 100%;
        color:white;
        margin: 0px;
        
        background-color: #787586;
           }
footer a{color:white;}            


@keyframes animacion{
    0%{background-color: #D2D5DB;}
    25%{background-color:#849BA2 ;}
    50%{background-color: #608080;}
   

}

li.animacion {
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    width: 100%;
}







h1{text-align: center; font-size: 250%; text-transform: uppercase; margin-top: 10px; font-weight: bold;color:midnightblue}

h3{text-align: center;}
li{margin: 10px;}

#enlaceSeleccionado{color: coral;}







/* Estilo Imagenes portada*/

.fotoRaid{border: black 2px;
          border-style: solid;}
                          
.bordesRedondeados{border-radius:50px;}

.logo2{ padding: 10px;
    border: 2px solid black;
    margin-left: 20px;
    }
.logo1{ padding:10px;
    border: 2px solid black;
    margin-right: 20px;
    float: right;}

/*PAGINA PROXIMOS DESAFIOS*/
h2.centrar{text-align: center;}
.displayCarreras{display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between}


.fondosProximos{background-color: #FAF8FF;}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0%;}

.card figure{position: relative;}

.card figure img{transition: all 500ms ease-out;
                overflow: hidden;}
.capa{position: absolute;
    background: rgba(5, 11, 14, 0.678);
    transition:all 500ms ease-out;
    bottom: 0%;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 20px;
    
    color: white;}

.card figure:hover .capa {
                            opacity: 1;
                            visibility: visible;}

/*hover para resto de carreras*/

.capa--yacanto {
        @extend .capa;
        background: rgba(14, 8, 2, 0.6);
        color: white;
        }
        
.card figure:hover .capa--yacanto{
                                    opacity: 1;
                                    visibility: visible;}


.capa--cruce {
                @extend .capa;
                background: rgba(14, 8, 2, 0.6);
                color: white;
                }
                
.card figure:hover .capa--cruce{
                    opacity: 1;
                    visibility: visible;}
                
.capa--yaboty {
            @extend .capa;
            background: rgba(165, 161, 161, 0.81);
            color: white;
                        }
                        
.card figure:hover .capa--yaboty{
                            opacity: 1;
                            visibility: visible;}        
        
.capa--fiambala {
            @extend .capa;
            background: rgba(14, 8, 1, 0.61);
            color: white;
                                            }
                                            
.card figure:hover .capa--fiambala{
                   
                    opacity: 1;
                    visibility: visible;}     
            
        
        
.capa--ushuaia {
                @extend .capa;
                background: rgba(14, 8, 1, 0.61);
                color: white;}
                                                        
.card figure:hover .capa--ushuaia{
                                
                                opacity: 1;
                                visibility: visible;}


                                

.arreglo{color: orange;}
a:link{text-decoration: none;}
                                    



/*PAGINA EXPERIENCIAS*/

.haruki{background-color: #787586;
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;
        color: white;}
.lados{background-color: #787586;}
.ladosdos{background-color: #474554;}

.posicionvideos{margin-left: auto;
                margin-right: auto;
                margin-top: 10px;}

.testimonio{margin-top: 30px;
            margin-left: 0px;
            margin-bottom: 0px;
            background-color: #474554;
            color: white;
            padding: 20px;
            }
.jose{margin: 0%;}


.fototesti{display: block;
            margin: auto;
            width: 100%;}

.linea{height: 3px;
        background-color: orange;
        width: 10%;
        display: inline-block;
        }
.lineados{height: 3px;
    background-color: orange;
    width: 10%;}
.firmados{text-align: center;}

/*GRIDS EXPERIENCIAS*/




.videoResponsive{position: relative; 
                height: 0;
                overflow: hidden;
                padding-bottom: 50%;}

.videoResponsive iframe{position: absolute;
                        width: 100%;
                        height: 100%;}


                     

/*TIENDAS AMIGAS*/



.mapaResponsive{position: relative;
                height: 0;
                overflow: hidden;
                padding-bottom: 50%;}
.mapaResponsive iframe{position: absolute;
                        width: 100%;
                        height: 100%;}


/*PAGINA NOSOTROS*/


.displayContacto{display: flex;
    flex-direction:row;    
    flex-wrap: wrap;
    
    margin-left: 10px;
    }
.nosotros{padding:20px;
            margin:10px;
        }

.formulario{padding:20px;}



.enviar{margin-right: auto;
        margin-left: auto;
        text-align: center;}

.consulta{display: flex;
        flex-direction: row;
        }

.tilde{margin-top: auto;
        margin-bottom: auto;}


.comentarios{
            margin-left: auto;
            margin-right: auto;}
            
.listaComentarios{font-style:italic;}

.prueba{background-color: #474554;
        color: white;}
.btn {
        display: inline-block;
        font-weight: 400;
        color:black;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: white;
        border: 1px solid orange;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }





/*SASS*/


.redes__instagram{margin: 10px;
                margin-top: 25px;}
.redes__twitter{margin: 10px;margin-top: 25px;}
.redes__fb{margin: 10px;margin-top:25px}
.redes{display: flex;flex-direction: row;}

/*SASS CONDICIONAL*/

@import "_variables";

.situacionUno{@if$condicion==normal{background-color: green;}
    @else if $condicion==suspendida{background-color: red;}
    @else if $condicion==postergada{background-color: yellow;}
}

.situacionDos{@if$condiciondos==normal{background-color: green;}
    @else if $condiciondos==suspendida{background-color: red;}
    @else if $condiciondos==postergada{background-color: yellow;}
}

.situacionTres{@if$condiciontres==normal{background-color: green;}
    @else if $condiciontres==suspendida{background-color: red;}
    @else if $condiciontres==postergada{background-color: yellow;}
}











